.link { text-decoration: none; }
.cl-browncyan { color: #505054; }
.cart-number { color: #f00; }
.ml-30rem { margin-left: 30rem; }
.brand-name { 
  color:white; 
  text-align: center; 
  margin-top: 10px; 
  font-size: 1.5rem;
}
.brand-name-dark { 
  text-align: center; 
  margin-top: 10px; 
  color: #000;
}

