:root {
    --color-1: #E07C4F;
    --color-2: #D65D26;
    --color-3: #E89C7B;
}

#horizontalmenu {
    height: 50px;
    background-color: var(--color-3);
}
#horizontalmenu ul {    
    list-style: none;
    padding:12px;
}

#horizontalmenu li {
    float: left;
    position: relative;
    display: block;   
}

    ul > .menu-item {
        padding-right: 100px;
    }


    #horizontalmenu li ul {
        display: none;
        position: absolute;    
        z-index:100;
    }

    #horizontalmenu li:hover ul {
        display: block;
        background: black;
        height: auto;
        width: 204px;
        
    }

    #horizontalmenu li ul li {
        clear: both;
        border-style: none;
    }
#horizontalmenu li a {
    text-decoration: none;
    padding: 10px 16px;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 20px;
}