.main-frame {
  min-height: 30vh; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background: #F0F0F0;
}
.login-frame {
  background: #D9D9D9; 
  padding: 1rem; 
  border-radius: 20px; 
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1); 
  width: 500px;
}
.login-header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold; 
  margin-bottom: 2rem;
}
.form-input {
  width: 100%;
  padding: 0.5rem; 
  border: 1px solid #ccc; 
  border-radius: 15px;
}